.carousel {
  .dotsClass {
    margin-bottom: 10px;
  }

  .carousel_item {
    height: 100vh;
    .card {
      .title {
        font-size: 36px;
        color: white;
        font-family: "Merienda";
        margin-bottom: 10px;
      }
      width: 25%;
      background-color: rgba(110, 110, 110, 0.49);
      padding: 20px;
      border-radius: 10px;
    }
  }

  .carousel_item_1 {
    background: url("../../assets/carousels/1-xerath.jpeg") no-repeat center
      center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .carousel_item_2 {
    background: url("../../assets/carousels/2-yasuo.png") no-repeat center
      center;
    background-size: cover;
        display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .carousel_item_3 {
    background: url("../../assets/carousels/3-warwick.jpeg") no-repeat center
      center;
    background-size: cover;
        display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .carousel_item_4 {
    background: url("../../assets/carousels/4-akali.jpg") no-repeat center
      center;
    background-size: cover;
        display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
