.form_group {
  color: black;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;

  .form_title {
    font-size: 16px;
    font-weight: 700;
  }

  .form_field {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border 0.2s;
  }
  .form_field:focus {
    border: 1.5px solid #ffd700;
    outline: none;
    background: #fff;
  }
}